/* src/Css/Sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: all 0.3s ease;
  }
  
  .sidebar.open {
    width: 100%;
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  
  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo-image {
    width: 100%;
    max-width: 150px; /* Puoi regolare la dimensione dell'immagine */
  }
  
  .searchbar input {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    width: 100%;
  }
  
  .links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .link-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .link-item a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    font-size: 18px;
  }
  
  .link-item a:hover {
    background-color: #34495e;
    border-radius: 5px;
  }
  
  .hamburger {
    display: none;
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      position: fixed;
      top: 0;
      left: -100%;
    }
  
    .sidebar.open {
      left: 0;
    }
  
    .hamburger {
      display: block;
    }
  }
  
  /* Aggiungi al tuo CSS per posizionare l'icona correttamente */
.searchbar {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Colore di sfondo della search bar */
    padding: 5px;
    padding-left: 10px;
  }
  
  .search-icon {
    color: #888; /* Colore dell'icona */
    margin-right: 8px; /* Distanza tra l'icona e l'input */
  }
  
  .searchbar input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #333;
    padding: 5px;
    width: 100%;
  }
  
  .sidebar .link-item svg, /* Per tutte le icone nei link */
.sidebar .hamburger svg, /* Per l'icona dell'hamburger */
.search-icon { /* Per l'icona della lente nella search bar */
  color: rgb(153, 4, 4);              /* Cambia anche il colore dell'icona (opzionale) */
}